<mat-card class="example-card">
  <mat-card-header>
    <h3>บันทึกข้อมูล</h3>
  </mat-card-header>
  <form>
    <div class="example-container">
      <p>
        <!-- <mat-form-field appearance="outline">
          <mat-label>รหัสนักศึกษา</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            name="sid"
            type="number"
            [(ngModel)]="studentAdd.sid"
          />
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>ชื่อ</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            name="title"
            [(ngModel)]="studentAdd.title"
          />
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>นามสกุล</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            name="last"
            [(ngModel)]="studentAdd.last"
          />
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>เนื้อหา</mat-label>
          <textarea
            rows="10"
            matInput
            placeholder="Placeholder"
            name="description"
            [(ngModel)]="studentAdd.description"
          ></textarea>
        </mat-form-field>
      </p>
    </div>
    <button mat-raised-button (click)="submitReviewAdd()" color="primary">บันทึก</button>
    {{ studentAdd | json }}
  </form>
</mat-card>

<div style="padding-left: 20%; padding-right: 20%; padding-bottom: 10%">
  <h1>ข้อมูล</h1>
  <table>
    <tr>
      <th>รหัสนักศึกษา</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th colspan="2">ลบ / แก้ไข</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student._id }}</td>
      <td>{{ student.title }}</td>
      <td>{{ student.description }}</td>
      <td>
        <button mat-raised-button style="background-color: #ffa000">
          แก้ไข
        </button>
      </td>
      <td>
        <a role="button" mat-raised-button style="background-color: #d32f2f">ลบ</a>
        <!-- <a role="button" mat-raised-button (click)="deleteStudent(student._id)" style="background-color: #d32f2f">ลบ</a> -->
      </td>
    </tr>
  </table>
</div>
